@model IEnumerable<PruebaTec02KDSB.Models.Medida>

@{
    ViewData["Title"] = "Index";
}

<h1>Tamaño</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medida1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medida1)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
